spring:
  application:
    name: user-service

server:
  port: 8081

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761}/eureka/
  instance:
    prefer-ip-address: true
